repos:
-   repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
    -   id: conventional-pre-commit
        stages: [commit-msg]
-   repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.24
    hooks:
    -   id: uv-lock
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-json
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.14.11
    hooks:
    -   id: ruff-check
        args:
        -   --fix
        -   --exit-non-zero-on-fix
        types_or: [python, pyi, jupyter]
    -   id: ruff-format
        types_or: [python, pyi, jupyter]
-   repo: https://github.com/jsh9/pydoclint
    rev: 0.8.3
    hooks:
    -   id: pydoclint
-   repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
    -   id: gitleaks
-   repo: local
    hooks:
    -   id: ty
        name: ty check
        entry: uv run ty check .
        language: system
        types: [python]
        exclude: "scratch"
